# Core AI and model handling libraries
diffusers
huggingface-hub
hf_xet
hf-transfer
aria2
safetensors
transformers

# Gradio UI framework
gradio

# Custom Web UI framework and server
fastapi
uvicorn
Jinja2